<!doctype html>
<html>

<head>
    <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="/styles/testStyle.css">
    <script src="/scripts/testScript.js"></script> 
</head>

<body>
    <header><img src="/img/test.png" alt="test image"></header>
    {{{body}}}
</body>

</html>