<head>
	<link rel="stylesheet" href="/styles/formsStyle.css">
    <script src="/scripts/logInRequest.js"></script>
</head>
<h1 align="center">Log In</h1>
<form>
    <div class="form-group">
        <label for="logIn">Login</label>
        <input type="text" class="form-control" id="logIn" aria-describedby="" placeholder="Enter login">
    </div>
    <div class="form-group">
        <label for="Password1">Password</label>
        <input type="password" class="form-control" id="Password1" placeholder="Enter Password">
    </div>
   
    <button type="button" class="btn btn-primary" id="loginButton">Ok</button>
</form>
{{{body}}}
<footer>
	<script>
		document.getElementById('currentUserSpan').style.visibility = 'hidden';
        document.getElementById('navbarButtonLogIn').style.visibility = 'hidden';
   </script>
</footer>