<head>
	<link rel="stylesheet" href="/styles/startPageStyle.css">
    
    <script src="/scripts/startFormRequest.js"></script>
</head>

{{{body}}}
<div class="container contant">
	<h2>Content List</h2>
	<ul id="contentList" class="list-group">
		<li style="list-style-type: none">Name<span class="position">Price</span><span class="position" style="left: 80%">Buy</span></li>
	</ul>
</div>