<head>
	<link rel="stylesheet" href="/styles/startPageStyle.css">
    <script src="/scripts/startFormRequest.js"></script>
</head>

{{{body}}}
<div class="container contant">
	<h2>List of content</h2>
</div>