.contant{
	position: absolute;
	width: 30%;
	height: 80%;
    left: 5%;
    top: 20%;
    border: 2px solid blue;
    border-radius: 2%;
    box-shadow: 7px 7px 5px #3A3939;
    overflow: scroll;
}
.position{
    position: absolute;
    left: 50%;
}
.positionUsers{
    width: 25%;
    left: 40%;
    visibility: hidden;
}
.addContent{
    position: absolute;
    width: 20%;
    height: 80%;
    left: 75%;
    top: 20%;
}