html{
	/*background: url(/img/nodejs.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;*/
    background-color: blue;
}